/* .first{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: black
}
.sec{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
.thrid{
    width: 200px;
    height: 200px;
    background-color: coral;

}
.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellowgreen;

}

.main2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainn{
    background-color: wheat;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* .new{
    padding: 5px;
    margin:5px;

     
} */

/* .new :hover{
    color: red;
}

.bodytag{
    background-image: url("../in.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.Struct{
    background-color: blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.struc{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: aqua;
    height: 80vh;
}
.NewOne{
    background-color: blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.NewTwo{
    background-color: blanchedalmond;
    width: 20vw;
    height: 80vh;
} */ 

/* .hide {
    display: none;
}

.color{
    background-color: bisque;
} */

/* .new{
    padding: 5px;
    margin:5px;
}

.mainn{
    background-color: wheat;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.xyz{
    width: 10vw;
    float: right;
    height: 100vh;
    background-color: yellowgreen;
    display: none;
    transition: 1s all linear;
}
.show{
    display: block;
} */
/* 
.one{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    animation-name: example;
    animation-duration: 4s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-around;
}
    /* @keyframes example {
        from {width: 100vw}
        to {width: 40vw}
    } */
    /* @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      }
      .new{
        padding: 5px;
        margin:5px;
      }  */

      
 /* .main{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items:center;
    background-color: rgba(19, 87,122, 0.2);
    font-family: 'Roboto', sans-serif;
}
.new{
    padding: 25px;
    margin:5px;
    position: relative;
    display: inline-block;
} 

.one{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.new:hover .one{
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */

/* body { */
    /* background-image:url("../in.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* animation-name: example;
    animation-duration: 4s; */
    /* background-color:burlywood; */ 

      /* @keyframes example{
        0%   {background-color: red;}
        25%  {background-image: url("../in.jpeg");}
        50%  {background-color: blue;}
        100% {background-image: url("../in.jpeg");}
      } */

/* .one{
    height: 100vw;
    width: 100vh;
    background-color: blanchedalmond;
    transition: 1 all linear;
    display: none;
}

.hey:hover.one{
    display: block;
} */

/* .main{
 color: black;
} */